<section *ngIf="selectedTruck" class="truck-modal">
  <button (click)="close()"><i class="fa fa-times fa-lg close" aria-hidden="true"></i></button>
  <dl>
    <dt>Driver</dt>
    <dd>{{ selectedTruck.driver }}</dd>
    <dt>Trcuk plate number</dt>
    <dd>{{ selectedTruck.plate }}</dd>
    <dt>Trailer plate</dt>
    <dd>{{ selectedTruck.trailerPlate }}</dd>
    <dt>Fuel level</dt>
    <dd>{{ selectedTruck.fuel }}</dd>
    <dt>Address</dt>
    <dd>{{ selectedTruck.address }}</dd>
    <dt>Coordinates</dt>
    <dd>{{ selectedTruck.longitude }}, {{ selectedTruck.latitude }}</dd>
  </dl>
</section>
