.truck-modal {
    background-color: $blue-dark;
    color: white;
    padding: 10px;
    position: absolute;
    right: -300px;
    top: 25px;
    width: 300px;
    z-index: 1;
    button {
        position: absolute;
        right: 0;
        top: 0;
    }
    dl {
        margin: 0;
        dt {
            padding-top: 10px;
            font-style: italic;
            text-transform: capitalize;
            &::after {
                content: " :";
            }
        }
        dd {
            border-bottom: 1px solid $border-tr;
            margin: 0;
        }
    }
}